/config.php
/admin/config.php

/system/storage/cache/*
!/system/storage/cache/.gitignore

/system/storage/download/*
!/system/storage/download/.gitignore

/system/storage/logs/*
!/system/storage/logs/.gitignore

/system/storage/modification/*
!/system/storage/modification/.gitignore

/system/storage/session/*
!/system/storage/session/.gitignore

/system/storage/upload/*
!/system/storage/upload/.gitignore

/system/minifyns/data/*
!/system/minifyns/data/.gitignore

/system/helper/HTMLPurifier/DefinitionCache/Serializer/HTML/*
!/system/helper/HTMLPurifier/DefinitionCache/Serializer/HTML/.gitignore

/system/unixml/*
!/system/unixml/.htaccess

/image/cache/*
!/image/cache/.gitignore

/image/catalog/*
!/image/catalog/.gitignore
!/image/catalog/cart.png
!/image/catalog/logo.png
!/image/catalog/opencart.ico
!/image/catalog/profile-pic.png

/image/import_files/*

/install/*

/bitrix24/logs/*
!/bitrix24/logs/.gitignore

/feeds/*
!/feeds/.gitignore

/logs_cron/*
/sitemaps/*

db_data

.well-known/
/db.php
/info.php
/*.xml
/doc
old
*.log
error.log

*.bak
*.zip
*.tar.gz
*.ini
*.dat
*.csv
*.txt
*.cache
error_log

.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.cache.*
.DS_Store
Thumbs.db

node_modules/
oleksiika/

# Composer
#/vendor/
#composer.lock

package-lock.json
yarn.lock

.env
.env.*

phpinfo.php
robots.txt
robots2.txt
/.htaccess
adminer.*
i.php
test.*
offers.yml
sitemap.xml

admin/view/image/payment/Redsys.png
test_language.php




